/* COLORS */
$lt-gray: #ddd;
$background-dark:#0a4983;
$background-light:#73b4e9;
$background-pale:#c4dbe9;
$lt-text:floralwhite;
/* HEIGHT */
$carousel-item-height:300px;
$footer-height:100px;
$nav-height:50px;



/* MIXINS */
@mixin zero-margin($pad-up-dn, $pad-left-right){
    margin: 0px;
    padding: $pad-up-dn $pad-left-right;
}


.content {
    min-height: calc(100vh - 280px);
}


.row-header{
    @include zero-margin(0px,0px);
    .header-img {
        max-height: 50px;
    }
}

.row-content {
    @include zero-margin(50px,0px);
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: $background-pale;
    @include zero-margin(20px, 0px);
    height: $footer-height;
}

.jumbotron {
    @include zero-margin(20px,10px);
    background: $background-light ;
    color: $lt-text;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
     background-color: $background-dark;
}

.tab-content {
    border-left: 1px solid $lt-gray;
    border-right: 1px solid $lt-gray;
    border-bottom: 1px solid $lt-gray;
    padding: 10px;
}
.carousel {
    background:$background-dark;

    .carousel-item {
        /*height: $carousel-item-height;*/
        img {
            height: 100%;
           /* position: absolute;
            top: 0;
            left: 0;
            min-height: 300px;*/
        }
    }
    .carousel-text {
        min-height: 200px;
        padding-left: 50px;
        color: $lt-text;
    }
}

#carouselButton {
    right:0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}

.modal {
    .modal-header {
        background-color: $background-dark;
        color: $lt-text;
        .close {
            color: $lt-text;
        }
    }
    .modal-body {
        background-color: $background-pale;
    }
}

.calendar {
    height: 200px;
}